<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1068521612581-irkhu03ndpqvv4dftki461pd7k18obue.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1068521612581-irkhu03ndpqvv4dftki461pd7k18obue</string>
	<key>API_KEY</key>
	<string>AIzaSyAEJojKzegZprEkqxXE7-HgUL7FaKSSXQA</string>
	<key>GCM_SENDER_ID</key>
	<string>1068521612581</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aivantgoyal.StudySpace</string>
	<key>PROJECT_ID</key>
	<string>studyspace-7a7ea</string>
	<key>STORAGE_BUCKET</key>
	<string>studyspace-7a7ea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1068521612581:ios:d86733a95d0efbd2</string>
	<key>DATABASE_URL</key>
	<string>https://studyspace-7a7ea.firebaseio.com</string>
</dict>
</plist>